Repository HSE-algo-23-owl/manual_tasks, pull requests merged in 2023-12, with the labels that each got.

#38 AlgoWizards_task_8
  task_8/AlgoWizards.md
Labels: ✨AlgoWizards✨

#40 Create All_ca$h.md
  task_8/All_ca$h.md
Labels: All_ca$h💸

#43 BB_task_8
  task_8/BB.md
Labels: BB🎇

#45 task 8 by 1.KLA$ team
  task_8/1.KLA$.md
Labels: ⚡ 1.KLA$

#47 Created Cupcakes_task_8.md
  task_8/Cupcakes_task_8.md
Labels: 🧁cupcakes🧁

#46 Котятки сделали задание 8 вар 7
  task_8/kotyatki_task8.md
Labels: 😺 kotyatki

#49 AlgoWizards_task_9
  task_9/AlgoWizards.md
Labels: ✨AlgoWizards✨

#51 Котятки сделали 9 задание
  task_9/kotyatki_task_9.md
Labels: 😺 kotyatki

#53 Create All_ca$h.md
  task_9/All_ca$h.md
Labels: All_ca$h💸

#55 BB_task_9
  task_9/BB_task_9.md
Labels: question, BB🎇

#54 TwoPizza_task_9
  task_9/TwoPizza_task_9.md
Labels: TwoPizza🍕🍕

#50 task 9 is completed
  task_9/sluggish_pythons_task_9.md
Labels: question, 🐍sluggish_pythons🐍

#52 Create Cupcakes_task_9.md
  task_9/Cupcakes_task_9.md
Labels: question, 🧁cupcakes🧁

#56 сделали 9 задание
  task_9/zavod_dao.md
Labels: question, 🏭zavod_dao
