Repository HSE-algo-23-owl/manual_tasks, pull requests merged in 2023-11, with the labels that each got.

#5 AlgoWizards_task_5
  task_5/AlgoWizards.md
Labels: ✨AlgoWizards✨

#9 TwoPizza_task_5
  task_5/TwoPizza_task_5.md
Labels: TwoPizza🍕🍕

#10 Kotyatki task
  task_5/Kotyatki.md
Labels: question, 😺 kotyatki

#6 Task_5 solved.
  task_5/sluggish_pythons_task_5.md
Labels: question, 🐍sluggish_pythons🐍

#14 BB_task_5
  task_5/BB.md
Labels: BB🎇

#15 Сделали задание
  task_5/All_ca$h_task_5.md
Labels: All_ca$h💸

#16 сделали 5 задание
  task_5/zavod_dao.md
Labels: 🏭zavod_dao

#18 Сделали 6 задание
  task_6/blur.md
Labels: blur

#20 TwoPizza_task_6
  task_6/TwoPizza_task_6.md
Labels: TwoPizza🍕🍕

#22 Create answer_task_6.md
  task_6/answer_task_6.md
Labels: question, 🐍sluggish_pythons🐍

#25 task 6 by 1.KLA$ team
  task_6/1.KLA$.md
Labels: ⚡ 1.KLA$

#21 Zavod dao task 6
  task_6/task.md
  task_6/zavod_dao.md
Labels: 🏭zavod_dao

#26 Create All_ca$h.md
  task_6/All_ca$h.md
Labels: All_ca$h💸

#23 BB_task_6
  task_6/BB.md
Labels: question, BB🎇

#27 Add files via upload
  task_6/Cupcakes_task6.md
Labels: 🧁cupcakes🧁

#24 6 задание от котяток
  task_6/Kotyatki.md
Labels: question, 😺 kotyatki

#28 TwoPizza_task_7
  task_7/TwoPizza_task_7.md
Labels: TwoPizza🍕🍕

#29 AlgoWizards_task_7
  task_7/AlgoWizards.md
Labels: ✨AlgoWizards✨

#31 Kotyatki task 7
  task_7/kotyatki.md
Labels: 😺 kotyatki

#33 task 7 by 1.KLA$ team
  task_7/1.KLA$.md
Labels: ⚡ 1.KLA$

#34 BB_task_7
  task_7/BB.md
Labels: BB🎇

#35 All ca$h task 7
  task_7/All_ca$h.md
Labels: All_ca$h💸
