Repository HSE-algo-23-owl/manual_tasks, pull requests merged in 2024-02, with the labels that each got.

#59 Сделали Задание №13
  task_13/1_KLA$_13.md
Labels: ⚡ 1.KLA$

#62 Котятки сделали 13 задание
  task_13/kotyatky_task.md
Labels: 😺 kotyatki

#61 TwoPizza_task_13
  task_13/TwoPizza_task_13.md
Labels: TwoPizza🍕🍕

#64 Сделали 13 задание
  task_13/All_ca$h_13.md
Labels: question, All_ca$h💸

#65 Blur task 13
  task_13/blur_13.md
Labels: question, blur

#68 zavod_dao сделали 13 задание
  task_13/zavod_dao_task_13.md
Labels: 🏭zavod_dao

#63 AlgoWizards_task_13
  task_13/AlgoWizards.md
Labels: ✨AlgoWizards✨

#71 AlgoWizards_task_14
  task_14/AlgoWizards.md
Labels: ✨AlgoWizards✨

#72 14 задание сделано
  task_14/1_KLAS_14.md
Labels: ⚡ 1.KLA$

#74 TwoPizza_task_14
  task_14/TwoPizza_task_14.md
Labels: TwoPizza🍕🍕

#75 Сделали задание
  task_14/All_ca$h_14.md
  task_14/README.md
Labels: All_ca$h💸

#73 Котятки сделали задание 14
  task_14/kotyatki_task_14.md
Labels: 😺 kotyatki

#77 Create BB_task_14.md
  task_14/BB_task_14.md
Labels: BB🎇

#78 сделали 14 задание
  task_14/zavod_dao_task_14.md
Labels: question, 🏭zavod_dao

#80 All ca$h task 15
  task_15/All_ca$h_task_15.md
Labels: All_ca$h💸

#83 Сделали 15 задание
  task_15/1_KLAS_task15.md
Labels: ⚡ 1.KLA$
