Repository HSE-algo-23-owl/manual_tasks, pull requests merged in 2024-03, with the labels that each got.

#79 сделали 15 задание
  task_15/blur_15.md
Labels: blur

#81 AlgoWizards_task_15
  task_15/AlgoWizards.md
Labels: ✨AlgoWizards✨

#85 TwoPizza_task_15
  task_15/TwoPizza_task_15.md
Labels: TwoPizza🍕🍕

#88 BB_task_15
  task_15/BB_task_15.md
Labels: BB🎇
